body {
    margin: 0;
    background: #333635;
    color: rgb(220, 217, 217);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-shadow: 0 0 2px black;
    font-family: 'Courier New', Courier, monospace;
}

 .container {
    padding: 20px;
    background: #3a5049;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

span {
    color: #4ADF86
}

h3 {
    color: #D5D4D8;
}


#btn-generate {
    padding: 9px 17px 9px 15px;
    gap: 12px;
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    margin: auto;
}

#password-one,
#password-two {
    color: #10B981;
    width: 211px;
    height: 39px;
    background: #273549;
    border-radius: 6px;
    padding-top: 10px;
    margin: 10px;
}

.btn-pass {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #4ADF86;
    padding-bottom: 10px;
    margin-bottom: 20px;
} 



